<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/css/profile.css" rel="stylesheet">
    <title>Private office</title>
</head>
<body>
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/files/logo.png" alt="logo" class="img-fluid" width="100" height="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Выход
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="main-block">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Вы точно хотите выйти?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                    <a href="/logout">
                        <button type="button" class="btn btn-primary">Да</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a onclick="change('information')" class="list-group-item list-group-item-action">Информация</a>
                    <a onclick="getCurrentBlock('customers')" id="a-customers"
                       class="list-group-item list-group-item-action">Крупные клиенты</a>
                    <a onclick="getCurrentBlock('guests')" id="a-customers"
                       class="list-group-item list-group-item-action">Гости</a>
                    <a onclick="getCurrentBlock('employees')" id="a-requests"
                       class="list-group-item list-group-item-action">Сотрудники</a>
                </div>
            </div>
            <div class="col-md-9" style="display: block" id="information">
                <div class="card">
                    <div class="card-header">
                        Профиль пользователя
                    </div>
                        <div class="card-body" id="information-card-body">
                            <h5 class="card-title">Имя пользователя: ${employee.fullName}</h5>
                            <p class="card-text">Логин: ${employee.login}</p>
                            <p class="card-text">Номер телефона: ${employee.number}</p>
                            <p class="card-text">Email: ${employee.email}</p>
                            <p class="card-text">Должность: <#if employee.post??> ${employee.post}</#if></p>
                            <p class="card-text">Инн: ${employee.inn}</p>
                        </div>
                </div>
            </div>
            <div class="col-md-9" style="display: none" id="customers">

            </div>
            <div class="col-md-9" style="display: none" id="guests">

            </div>
            <div class="col-md-9" style="display: none" id="employees">

            </div>
        </div>
    </div>
</div>

<script src="/js/admin-profile.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>