<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/css/profile.css" rel="stylesheet">
    <link href="/css/new-main.css" rel="stylesheet">
    <link href="/css/modal-image.css" rel="stylesheet">
    <title>Private office</title>
</head>
<body>
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/files/logo.png" alt="logo" class="img-fluid" width="100" height="100">
            </a>

            <a href="/" class="nav-link link-light active">Главная</a>
        </div>
    </nav>
</div>

<div class="main-block">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Вы точно хотите выйти?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                    <a href="/logout">
                        <button type="button" class="btn btn-primary">Да</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div>
            <h3 class="my-3">
                Таблица заказов менеджера: <span class="fw-bold">${manager.fullName}</span>
            </h3>
            <#if orders?size !=0>
                <div class="table-container table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Клиент</th>
                            <th>Заказ</th>
                            <th>Статус</th>
                            <th>Дата</th>
                        </tr>
                        </thead>
                        <tbody>
                        <#list orders as order>
                            <tr>
                                <td>${order.customer.email}</td>
                                <td><a href="/admin/orders/${order.id}"
                                       class="btn btn-outline-dark">${order.request.product}</a></td>
                                <td>${order.status.status}</td>
                                <td>${order.orderDate?string.short}</td>
                            </tr>
                        </#list>
                        </tbody>
                    </table>
                </div>
            <#else>
                <h4>Заказов нету.</h4>
            </#if>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>