body {
    background-color: #1A1C22;
    margin: 0;
    padding: 0;
}

.container-fluid {
    position: relative;
    overflow-y: auto;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebar {
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: #343A40;
    color: #1A1C22;
    width: 200px;
    padding: 50px 20px 0;
}

.content {
    margin-left: 200px;
    color: #f7f7f7;
    flex-grow: 1;
    padding: 50px 50px 0;
}

.avatar {
    border-radius: 50%;
    background-color: #ccc;
}

.silhouette {
    background-size: cover;
}

.silhouette img{
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.card-header {
    color: #1A1C22;;
}

.col-md-9 {
    padding-top: 15px;
    padding-left: 0;
}

#customers, #information {
    color: #1A1C22;
}