body p {
    margin: 0;
}

.sidebar {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 10px;
    overflow: auto;
    padding-right: 14px;
    border-right: 2px solid #ECECEE;
    background-color: #FFF;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-button{
    margin: 20px;
}

.get-link{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 768px) {
    .sidebar {
        width: 299px;
    }
}

@media (max-height: 600px) {
    .sidebar {
        height: 100%;
    }
}
.action-items-content {
    margin-bottom: auto;
}

.sidebar-item.employee-profile-last {
    margin-top: auto;
}
.logo {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDEFF;
    border-radius: 6px;
    margin: 10px 0;

}

.logo img {
    width: 150px;
    height: auto;
}


.action-items {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-item p {
    font-size: 16px;
    padding: 12px 16px;
}

.sidebar-item:hover {
    background-color: #DFDEFF;
    border-radius: 7px;
    color: #4D4AEA;
}

.action-items-content {
    position: relative;
}

.action-items li {
    list-style: none;
}

.admin-profile-last {
    margin-top: 400px;
}

.user-card {
    padding: 14px 12px;
    border: 2px solid #ECECEE;
    border-radius: 7px;
}

.user-card p {
    margin: 0;
}

.user-name {
    font-size: 14px;
}

.user-info {
    font-size: 12px;
}

.content {
    margin-left: 342px;
    padding: 38px 42px 36px 26px;
}

.table-container {
    border: 1px solid #ECECEE;
    border-radius: 5px;
}

.table {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 0;
}
.table tr:last-child{

}
.table tr th{
    background-color: #F4F6FA;
}
.table tr:hover{
    background-color: #DFDEFF;
}


.none{
    display: none;
}

.switcher{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}
.switch{
    border: 2px solid #ECECEE;
    border-radius: 4px;
    padding: 10px;
}

.activity:hover{
    background-color: #DFDEFF;
    color: #4D4AEA;
}

.input-case{
    padding-bottom: 5px;
}

table {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
    max-width: 200px;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-image {
    display: block;
    width: 100%;
    height: auto;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 75px;
}

.card-manager-orders{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    width: 100%;
}
.icon-hover{
    color: black;
}

.icon-hover:hover {
    color: #C303FF;
}

.table td, th {
    text-align: center;
    vertical-align: middle;
}

.modal-dialog-logout {
    position: static;
}

@media (min-width: 768px) {
    .logo img {
        width: 90%;
    }
}
