<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/new-main.css">
    <link rel="stylesheet" href="/css/modal-image.css">
</head>

<body>
<div class="row">
    <div class="col-md-4 col-lg-3 position-relative">
        <div class="position-sticky top-0 pt-2 ps-2">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <div class="navbar-brand logo mt-0">
                        <img src="../files/logo.png" alt="logo">
                    </div>
                    <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
            <div class="collapse d-md-block" id="navbarToggleExternalContent" data-bs-theme="dark">
                <div class="action-items-content">
                    <ul class="action-items">
                        <li class="sidebar-item" onclick="getCurrentBlockAndClearLS('orders')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-card-checklist" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Мои заказы
                            </p>
                        </li>
                        <li class="sidebar-item" onclick="getCurrentBlockAndClearLS('customers')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Клиенты
                            </p>
                        </li>
                        <li class="sidebar-item" onclick="getCurrentBlockAndClearLS('payments')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-wallet2" viewBox="0 0 16 16">
                                    <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Платежи
                            </p>
                        </li>
                        <li class="sidebar-item" onclick="getCurrentBlockAndClearLS('requests')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-card-text" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                    <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Заявки
                            </p>
                        </li>
                        <li class="sidebar-item" onclick="change('links')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-link-45deg" viewBox="0 0 16 16">
                                    <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Ссылки
                            </p>
                        </li>
                        <li class="sidebar-item" onclick="change('information')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Информация
                            </p>
                        </li>
                        <li class="sidebar-item" onclick="change('csv')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-filetype-csv" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM3.517 14.841a1.13 1.13 0 0 0 .401.823c.13.108.289.192.478.252.19.061.411.091.665.091.338 0 .624-.053.859-.158.236-.105.416-.252.539-.44.125-.189.187-.408.187-.656 0-.224-.045-.41-.134-.56a1.001 1.001 0 0 0-.375-.357 2.027 2.027 0 0 0-.566-.21l-.621-.144a.97.97 0 0 1-.404-.176.37.37 0 0 1-.144-.299c0-.156.062-.284.185-.384.125-.101.296-.152.512-.152.143 0 .266.023.37.068a.624.624 0 0 1 .246.181.56.56 0 0 1 .12.258h.75a1.092 1.092 0 0 0-.2-.566 1.21 1.21 0 0 0-.5-.41 1.813 1.813 0 0 0-.78-.152c-.293 0-.551.05-.776.15-.225.099-.4.24-.527.421-.127.182-.19.395-.19.639 0 .201.04.376.122.524.082.149.2.27.352.367.152.095.332.167.539.213l.618.144c.207.049.361.113.463.193a.387.387 0 0 1 .152.326.505.505 0 0 1-.085.29.559.559 0 0 1-.255.193c-.111.047-.249.07-.413.07-.117 0-.223-.013-.32-.04a.838.838 0 0 1-.248-.115.578.578 0 0 1-.255-.384h-.765ZM.806 13.693c0-.248.034-.46.102-.633a.868.868 0 0 1 .302-.399.814.814 0 0 1 .475-.137c.15 0 .283.032.398.097a.7.7 0 0 1 .272.26.85.85 0 0 1 .12.381h.765v-.072a1.33 1.33 0 0 0-.466-.964 1.441 1.441 0 0 0-.489-.272 1.838 1.838 0 0 0-.606-.097c-.356 0-.66.074-.911.223-.25.148-.44.359-.572.632-.13.274-.196.6-.196.979v.498c0 .379.064.704.193.976.131.271.322.48.572.626.25.145.554.217.914.217.293 0 .554-.055.785-.164.23-.11.414-.26.55-.454a1.27 1.27 0 0 0 .226-.674v-.076h-.764a.799.799 0 0 1-.118.363.7.7 0 0 1-.272.25.874.874 0 0 1-.401.087.845.845 0 0 1-.478-.132.833.833 0 0 1-.299-.392 1.699 1.699 0 0 1-.102-.627v-.495Zm8.239 2.238h-.953l-1.338-3.999h.917l.896 3.138h.038l.888-3.138h.879l-1.327 4Z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;CSV
                            </p>
                        </li>
                        <li class="sidebar-item employee-profile-last" onclick="change('settings')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-gear" viewBox="0 0 16 16">
                                    <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                    <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Настройки
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="user-card">
                    <p class="user-name">
                        ${employee.fullName}
                    </p>
                    <p class="user-info">${employee.email}
                    </p>
                </div>
                <button type="button" class="sidebar-button" onclick="showDisplayModal()"
                        style="border: none; background: none; padding: 0; font: inherit; cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                        <path d="M7.41 7.41L8.83 6l6 6-6 6-1.41-1.41L11.01 13H2v-2h9.01L7.41 7.41z"/>
                    </svg>
                    Выход
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-9">
        <div class="p-2">
            <div class="modal" tabindex="-1" id="modal-exit" style="display: none">
                <div class="modal-dialog-logout">
                    <div class="modal-content w-50">
                        <div class="modal-header">
                            <h5 class="modal-title">Вы точно хотите выйти?</h5>
                            <button type="button" onclick="closeDisplayModal()" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="closeDisplayModal()"
                                    data-bs-dismiss="modal">Нет
                            </button>
                            <a href="/logout">
                                <button type="button" class="btn btn-primary">Да</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: block" id="information">
                <div class="card">
                    <div class="card-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>&nbsp;&nbsp;&nbsp;&nbsp;Профиль пользователя
                    </div>
                    <div class="card-body" id="information-card-body">
                        <h5 class="card-title">Имя пользователя: ${employee.fullName}
                        </h5>
                        <p class="card-text">Логин: ${employee.login}
                        </p>
                        <p class="card-text">Номер телефона: ${employee.number}
                        </p>
                        <p class="card-text">Email: ${employee.email}
                        </p>
                        <p class="card-text">Должность: <#if employee.post??>
                                ${employee.post}
                            </#if>
                        </p>
                        <p class="card-text">Инн: ${employee.inn}
                        </p>
                    </div>
                </div>
            </div>
            <div style="display: block" id="orders"></div>
            <div style="display: none" id="customers"></div>
            <div style="display: none" id="payments">
                <div class="card">
                    <div class="card-header">
                        Платежи
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
            <div style="display: none" id="requests"></div>
            <div style="display: none" id="links">
                <div class="card">
                    <div class="card-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-link-45deg" viewBox="0 0 16 16">
                            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                        </svg>&nbsp;&nbsp;&nbsp;&nbsp;Ссылки
                    </div>
                    <div class="card-body">
                        <div class="get-link">
                            <button onclick="copyText()" class="btn btn-outline-dark mx-2">Получить</button>
                            <p>ссылку для регистрации</p>
                        </div>
                        <input type="hidden" value="<#if _csrf??>
${_csrf.token}
</#if>" id="csrfInputHidden">
                        <p id="copied-link" style="display: none" class="my-2">Скопировано!</p>
                        <input id="copied-link-p2" style="display: none" class="form-control my-2">
                    </div>
                </div>
            </div>
            <div class="col-md-9 mb-4" style="display: none" id="settings">
                <div class="card">
                    <div class="card-header">
                        <h6 class="py-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-gear" viewBox="0 0 16 16">
                                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                            </svg>&nbsp;&nbsp;&nbsp;&nbsp;Изменить личные данные
                        </h6>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/employees/profile/changes/number">
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field=="number">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="num" class="card-text d-block"><span class="fw-bold">Номер телефона:</span> ${employee.number!'Отсутствует'}
                            </label>
                            <input type="text" class="form-control" id="num" name="number">
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                                       value="${(_csrf.token)!'csrf-token'}"/>
                            </#if>
                            <button class="btn btn-outline-dark my-2 py-1" type="submit">Сохранить</button>
                        </form>
                        <form method="post" action="/employees/profile/changes/full-name">
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field=="fullName">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="name" class="card-text d-block"><span class="fw-bold">Имя:</span> ${employee.fullName!'Отсутсвует'}
                            </label>
                            <input type="text" class="form-control" id="name" name="fullName">
                            <button class="btn btn-outline-dark my-2" type="submit">Сохранить</button>
                            <hr>
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                                       value="${(_csrf.token)!'csrf-token'}"/>
                            </#if>
                        </form>
                        <form method="post" action="/employees/profile/changes/email">
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field=="email">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="email" class="card-text d-block"><span class="fw-bold">Почта:</span> ${employee.email!'Отсутствует'}
                            </label>
                            <input type="text" class="form-control" name="email" id="email">
                            <button class="btn btn-outline-dark my-2" type="submit">Сохранить</button>
                            <hr>
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                                       value="${(_csrf.token)!'csrf-token'}"/>
                            </#if>
                        </form>
                        <form method="post" action="/employees/profile/changes/login">
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field=="login">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="login" class="card-text d-block"><span class="fw-bold">Логин:</span> ${employee.login!'Отсутствует'}</label>
                            <input type="text" class="form-control" name="login" id="login">
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                                       value="${(_csrf.token)!'csrf-token'}"/>
                            </#if>
                            <button class="btn btn-outline-dark my-2" type="submit">Сохранить</button>
                        </form>
                    </div>
                </div>
                <div class="card my-5">
                    <div class="card-header">
                        <h6 class="my-2">Изменить пароль</h6>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/employees/profile/changePassword">
                            <#if passwordChanged??>
                                <p>Пароль успешно изменен.</p>
                            </#if>
                            <#if passwordError??>
                                <p>Ошибка при изменении пароля.</p>
                            </#if>
                            <label for="password" class="card-text d-block">Введите старый пароль:</label>
                            <input class="form-control d-block" type="text" name="prevPassword" id="password">
                            <hr>
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field=="newPassword">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="password" class="card-text d-block">Введите новый пароль:</label>
                            <input class="form-control d-block" type="text" name="newPassword" id="password">
                            <hr>
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field=="newPasswordRepeat">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="password" class="card-text d-block">Повторите новый пароль:</label>
                            <input class="form-control d-block" type="text" name="newPasswordRepeat" id="password">
                            <hr>
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                                       value="${(_csrf.token)!'csrf-token'}"/>
                            </#if>
                            <button class="btn btn-outline-dark my-2" type="submit">Изменить</button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="display: none" id="information">
                <div class="card">
                    <div class="card-header">
                        Профиль пользователя
                    </div>
                    <#if employee??>
                        <div class="card-body" id="information-card-body">
                            <h6 class="card-title">Имя пользователя: ${employee.fullName}
                            </h6>
                            <p class="card-text">Логин: ${employee.login}
                            </p>
                            <p class="card-text">Номер телефона: ${employee.number}
                            </p>
                            <p class="card-text">Email: ${employee.email}
                            </p>
                            <p class="card-text">Должность: <#if employee.post??>
                                    ${employee.post}
                                </#if>
                            </p>
                            <p class="card-text">Инн: ${employee.inn}
                            </p>
                        </div>
                    </#if>
                </div>
            </div>
            <div style="display: none" id="csv">
                <div class="card">
                    <div class="card-header">
                        Интеграция CSV
                    </div>
                    <div class="card-body" id="csv-card-body">
                        <form id="csv-form" action="/csv" method="POST" enctype="multipart/form-data">
                            <input id="file-input" type="file" name="file" class="form-control m-1">
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                                       value="${(_csrf.token)!'csrf-token'}"/>
                            </#if>
                            <button type="submit" class="btn btn-outline-dark m-1">Загрузить</button>
                            <p id="csv-upload" style="display: none">Вы успешно загрузили файл!</p>
                            <p id="csv-upload-error" style="display: none">Не удалось загрузить файл</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/employee-profile.js"></script>
<script src="/js/modal-image.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>