<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/new-main.css">
</head>
<body>

<div class="row">
    <div class="col-md-4 col-lg-3 position-relative">
        <div class="position-sticky top-0 pt-2 ps-2">

            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <div class="navbar-brand logo mt-0">
                        <img src="../files/logo.png" alt="logo">
                    </div>
                    <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>

            <div class="collapse d-md-block" id="navbarToggleExternalContent" data-bs-theme="dark">
                <div class="action-items-content">
                    <ul class="action-items">
                        <li class="sidebar-item" onclick="change('information')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Информация
                            </p>
                        </li>
                        <li class="sidebar-item" onclick="getCurrentBlock('customers')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Крупные клиенты
                            </p>
                        </li>
                        <li class="sidebar-item" onclick="getCurrentBlock('guests')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-people" viewBox="0 0 16 16">
                                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Гости
                            </p>
                        </li>
                        <li class="sidebar-item" onclick="getCurrentBlock('employees')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd"
                                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Сотрудники
                            </p>
                        </li>
                        <li class="sidebar-item employee-profile-last" onclick="change('settings')">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-gear" viewBox="0 0 16 16">
                                    <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                    <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                                </svg>&nbsp;&nbsp;&nbsp;&nbsp;Настройки
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="user-card">
                    <p class="user-name">${employee.fullName}</p>
                    <p class="user-info">${employee.email}</p>
                </div>
                <button type="button" class="sidebar-button" onclick="showDisplayModal()"
                        style="border: none; background: none; padding: 0; font: inherit; cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                        <path d="M7.41 7.41L8.83 6l6 6-6 6-1.41-1.41L11.01 13H2v-2h9.01L7.41 7.41z"/>
                    </svg>&nbsp;&nbsp;&nbsp;&nbsp;Выход
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-lg-9">
        <div class="p-2">

            <div class="modal" tabindex="-1" id="modal-exit" style="display: none">
                <div class="modal-dialog-logout">
                    <div class="modal-content w-50">
                        <div class="modal-header">
                            <h5 class="modal-title">Вы точно хотите выйти?</h5>
                            <button type="button" onclick="closeDisplayModal()" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="closeDisplayModal()"
                                    data-bs-dismiss="modal">Нет
                            </button>
                            <a href="/logout">
                                <button type="button" class="btn btn-primary">Да</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: block" id="information">
                <div class="card">
                    <div class="card-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>&nbsp;&nbsp;&nbsp;&nbsp;Профиль пользователя
                    </div>
                    <div class="card-body" id="information-card-body">
                        <h5 class="card-title">Имя пользователя: ${employee.fullName}</h5>
                        <p class="card-text">Логин: ${employee.login}</p>
                        <p class="card-text">Номер телефона: ${employee.number}</p>
                        <p class="card-text">Email: ${employee.email}</p>
                        <p class="card-text">Должность: <#if employee.post??> ${employee.post}</#if></p>
                        <p class="card-text">Инн: ${employee.inn}</p>
                    </div>
                </div>
            </div>


            <div style="display: none;" id="customers">

            </div>
            <div style="display: none" id="guests">

            </div>
            <div style="display: none" id="employees">

            </div>
            <div style="display: none" id="settings">
                <div class="card">
                    <div class="card-header">
                        <h6 class="py-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-gear" viewBox="0 0 16 16">
                                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                            </svg>&nbsp;&nbsp;&nbsp;&nbsp;Изменить личные данные
                        </h6>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/admin/profile/changes/number">
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field == "number">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="num" class="card-text d-block"><span class="fw-bold">Номер телефона:</span> ${employee.number!'Отсутствует'}</label>
                            <input type="text" class="form-control m-1" id="num" name="number">
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                                       value="${(_csrf.token)!'csrf-token'}"/>
                            </#if>
                            <button class="btn btn-outline-dark my-2 py-1" type="submit">Сохранить</button>
                        </form>
                        <hr>
                        <form method="post" action="/admin/profile/changes/full-name">
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field == "fullName">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="name" class="card-text d-block"><span class="fw-bold">Имя:</span> ${employee.fullName!'Отсутствует'}</label>
                            <input type="text" class="form-control m-1" id="name" name="fullName">
                            <button class="btn btn-outline-dark my-2" type="submit">Сохранить</button>
                            <hr>
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                                       value="${(_csrf.token)!'csrf-token'}"/>
                            </#if>
                        </form>
                        <form method="post" action="/admin/profile/changes/email">
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field == "email">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="email" class="card-text d-block"><span class="fw-bold">Почта:</span> ${employee.email!'Отсутствует'}</label>
                            <input type="text" class="form-control m-1" name="email" id="email">
                            <button class="btn btn-outline-dark my-2" type="submit">Сохранить</button>
                            <hr>
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                                       value="${(_csrf.token)!'csrf-token'}"/>
                            </#if>
                        </form>
                        <form method="post" action="/admin/profile/changes/login">
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field == "login">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="login" class="card-text d-block"><span class="fw-bold">Логин:</span> ${employee.login!'Отсутвует'}</label>
                            <input type="text" class="form-control m-1" name="login" id="login">
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                                       value="${(_csrf.token)!'csrf-token'}"/>
                            </#if>
                            <button class="btn btn-outline-dark my-2" type="submit">Сохранить</button>
                        </form>
                    </div>
                </div>
                <div class="card my-5">
                    <div class="card-header">
                        <h6 class="my-2">Изменить пароль</h6>
                    </div>
                    <div class="card-body">

                        <form method="post" action="/admin/profile/changePassword">
                            <#if passwordChanged??>
                                <p>Пароль успешно изменен.</p>
                            </#if>
                            <#if passwordError??>
                                <p>Ошибка при изменении пароля.</p>
                            </#if>
                            <label for="password" class="card-text d-block">Введите старый пароль:</label>
                            <input class="form-control m-1" type="text" name="prevPassword" id="password">
                            <hr>
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field == "newPassword">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="password" class="card-text d-block">Введите новый пароль:</label>
                            <input class="form-control m-1" type="text" name="newPassword" id="password">
                            <hr>
                            <#if bindingResult??>
                                <#list bindingResult.fieldErrors as error>
                                    <#if error.field == "newPasswordRepeat">
                                        <div class="alert alert-danger" role="alert">
                                            ${error.defaultMessage}
                                        </div>
                                    </#if>
                                </#list>
                            </#if>
                            <label for="password" class="card-text d-block">Повторите новый пароль:</label>
                            <input class="form-control m-1" type="text" name="newPasswordRepeat" id="password">
                            <hr>
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf-param-name'}"
                                       value="${(_csrf.token)!'csrf-token'}"/>
                            </#if>
                            <button class="btn btn-outline-dark my-2" type="submit">Изменить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin-profile.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>